.button-icon{
border-radius: 50px;
width: 305px;
height: 40px;
background: rgb(26, 150, 244);
outline: none;
border: inherit;
color: #FFF;
line-height: 120%;
cursor: pointer;
font-family: Verdana;
font-weight: bold;
color: rgb(255 255 255);
letter-spacing: -1.2px;
font-size: 18px;

}
.button-icon:hover:enabled{
    transition: transform 0.2s ease-in-out;
    transform: scale(0.97);
}

.button-icon:active:enabled{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.button-icon:hover:disabled{
    cursor: default;
}

.button-container{
    margin-top: 10px;
    padding-left: 0px;
}
.button-icon:disabled{
    border: 1px solid #999999;
    color: #666666;
}