

.main{
    display: grid;
    justify-content: center;
    margin-top: -10px;
}

.profile-container {
    text-align: center;
    margin-top: -8px;
    color: white;
    box-shadow: 0 -3px 1px -3px #ffffff;
    box-shadow: 0 3px 1px -3px #ffffff;

    width: 566px;
    height: 500px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 50px;


}

.tweet {
    text-align: left;
    box-shadow: 0 -3px 1px -3px #ffffff;
    width: 566px;
    height: auto;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
}

.tweet:hover{
    cursor:pointer;
}

.tweet_img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-top: -10px;
    

}

.tweet_author {
    color: white;
    margin-top: -45px;
    margin-left: 60px;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-weight: 900;

}

.tweet_content {
    color: white;
    margin-left: 60px;
    font-family: sans-serif;

}

.invalid_login{
    color: red;
}

.spin_loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spin_loader_tweet{
    position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}



.like_icon{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom:8px;
    display: inline-block;
}

.like_icon:hover{
    cursor:pointer;
    align-items: center;
    background-color: rgba(250, 72, 141, 0.2);
    border-radius: 30px;
}

.likes_number{
    padding-right: 100px;
    padding-left: 10px;
    display: inline-block;
}

.comment_icon{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    display: inline-block;
}

.comment_icon:hover{
    cursor:pointer;
    align-items: center;
    background-color: rgb(26, 150, 244, 0.2);
    border-radius: 30px;
}

.comments_number{
    padding-right: 100px;
    padding-left: 10px;
    display: inline-block;
}