.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.login-container .left .logo{
    padding-top:50px;
    margin-right: 90px;
    margin-left: 90px;
    width: 500px;
    height: 500px;
}

.right{
    max-width: 600px;
    margin-right: 200px;

}

.login-container .right .title-container{    
    font-family: Verdana;
    font-weight: bolder;
    color: rgb(255 255 255);
    line-height: 84px;
    letter-spacing: -1.2px;
    font-size: 64px;
    margin-top: 30px;
    margin-bottom: 30px    ;
}

.login-container .right .subtitle-container{
    font-family: Verdana;
    font-weight: bold;
    color: rgb(255 255 255);
    line-height: 84px;
    letter-spacing: -1.2px;
    font-size: 31px;
}  
