.input {
    border-radius: 50px;
    background: white;
    width: 300px;
    height: 35px;
    text-align: left;
    color: black;
    outline: none;
    border: none;
    margin-bottom: 10px;
    text-indent: 5%;
}

.input::placeholder {
    color: rgb(0, 0, 0);
    font-family: Verdana;

}

.input-group {
    display: flex;
    flex-direction: column;

}

.input-group label {
    margin: 10px;
    font-family: Verdana;
    font-weight: bold;
    color: rgb(255 255 255);
    letter-spacing: -1.2px;
    font-size: 18px;
}