.single_tweet {
    margin-top: 20px;
    margin-left: 3px;
    text-align: left;
    box-shadow: 0px 0.1px 0px 0px #ffffff;
    width: 600px;
    height: auto;
    padding-top: 20px;
    padding-left: 20px;
    
}


.single_tweet:hover{
    cursor:pointer;
}

.single_tweet_img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-left: 0px;
}

.single_tweet_author {
    color: white;
    margin-top: -45px;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-weight: 900;
    padding-left: 70px;
    padding-right: 10px;

}

.single_tweet_content {
    margin-left: 60px;
    color: white;
    font-family: sans-serif;
    padding-left: 10px;
    padding-right: 10px;


}

.spin_loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.single_like_icon{
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom:6px;
    display: inline-block;
    margin-bottom: 20px;

}

.single_like_icon:hover{
    transform: translateY(-3px);
    cursor:pointer;
    align-items: center;
    background-color: rgba(250, 72, 141, 0.2);
    border-radius: 30px;

}

.single_likes_number{
    padding-right: 100px;
    padding-left: 10px;
    display: inline-block;
}

.single_comment_icon{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom:6px;
    display: inline-block;
}

.single_comment_icon:hover{
    transform: translateY(-3px);
    cursor:pointer;
    align-items: center;
    background-color: rgb(26, 150, 244, 0.2);
    border-radius: 30px;
}

.single_comments_number{
    padding-right: 100px;
    padding-left: 10px;
    display: inline-block;
}